In [0]:
import math
import numpy as np
import pandas as pd
import requests
import json

In [0]:
mydata = pd.read_json("http://snap.stanford.edu/data/amazon/productGraph/categoryFiles/reviews_Office_Products_5.json.gz", lines = True)

In [0]:
mydata.head()

       reviewerID  ...                                        reviewText1
0  A32T2H8150OJLU  ...  {'i': 7, 'bought': 1, 'my': 4, 'first': 1, 'hp...
1  A3MAFS04ZABRGO  ...  {'why': 2, 'this': 13, 'belated': 1, 'review?'...
2  A1F1A0QQP2XVH5  ...  {'i': 2, 'have': 2, 'an': 2, 'hp': 3, '48gx': ...
3   A49R5DBXXQDE5  ...  {'i've': 4, 'started': 1, 'doing': 2, 'more': ...
4  A2XRMQA6PJ5ZJ8  ...  {'for': 4, 'simple': 1, 'calculations': 2, 'an...

[5 rows x 10 columns]

In [0]:
mydata["reviewText1"] = mydata["reviewText"].str.lower()

In [0]:
def wordcount(str):
  counts = dict()
  words = str.split()
  for word in words:
    if word in counts:
      counts[word] += 1
    else:
      counts[word] = 1
  return counts

In [0]:
wordcount("My name is Riddhi Riddhi")

{'My': 1, 'Riddhi': 2, 'is': 1, 'name': 1}

In [0]:
mydata["reviewText1"] = mydata["reviewText1"].apply(wordcount)