In [0]:
import math
import numpy as np
import pandas as pd
import requests
import json
import re

In [0]:
mydata = pd.read_json("http://snap.stanford.edu/data/amazon/productGraph/categoryFiles/reviews_Office_Products_5.json.gz", lines = True)

In [0]:
mydata.head()

       reviewerID        asin  ... unixReviewTime   reviewTime
0  A32T2H8150OJLU  B00000JBLH  ...     1094169600   09 3, 2004
1  A3MAFS04ZABRGO  B00000JBLH  ...     1197676800  12 15, 2007
2  A1F1A0QQP2XVH5  B00000JBLH  ...     1293840000   01 1, 2011
3   A49R5DBXXQDE5  B00000JBLH  ...     1145404800  04 19, 2006
4  A2XRMQA6PJ5ZJ8  B00000JBLH  ...     1375574400   08 4, 2013

[5 rows x 9 columns]

In [0]:
def not_bg(x):
  x=" ".join(x.split())
  not_b=re.findall(r'\b(?!b|B)\b\S+',x)
  not_bg=re.findall(r'\b(\w*[^gG])\b[\W\s$]',str(not_b))
  return {'words not starting with b and ending with g: ': set(not_bg)}

In [0]:
mydata['reviewText1']=mydata['reviewText'].apply(not_bg)

In [0]:
print(mydata.iloc[0,9])

{'words not starting with b and ending with g: ': {'people', 'until', 'have', 'area', 'lost', 'disaster', 'manual', '2002', 'when', 'It', 'at', 'faithfully', 'short', 'powerful', 'up', 'line', 'a', 'one', 'was', 'on', 'other', 't', 'you', 'it', 'move', 's', '12C', 'decade', 'about', 'first', 'need', 'good', 'reliable', 'over', 'is', 'way', 'programmable', 'sketchy', 'searched', 'solid', 'HP', 'mistake', 'are', 'purchased', 'does', 'or', 'decided', 'come', 'order', 'while', 'friend', 'and', 'extremely', 'found', 'in', 'So', 'may', 'now', '1984', 'replace', 'that', 'counterintuitive', 'another', 'for', 'as', 'well', 'sense', 'applications', 'If', 'so', 'm', 'even', 'didn', 'to', 'statistics', 'the', 'an', 'The', 'my', 'know', 'home', 'me', 'ready', 'too', 'makes', 'aside', 'many', 'use', 'of', 'hand', 'old', 'calculator', 'What', 'difficult', 'set', 'served', 'flagship', 'what', 'I', 'HP12C', 'view', 'will'}}

In [0]:
print(mydata.iloc[0,4])

I bought my first HP12C in about 1984 or so, and it served me faithfully until 2002 when I lost it while travelling.  I searched for another one to replace it, but found one difficult to come by in my area.  So, I decided to buy up and purchased an HP 49G.  What a mistake!  I know that many people view the HP 49G (now 49G+) as the flagship of the HP line, but for me that was a disaster.The 49G may be powerful, but using it is extremely counterintuitive...and the manual was sketchy at best.  The 12C, on the other hand, does what I need in a way that makes good sense to me.If you are looking for a solid, reliable calculator, the HP12C may be for you.  It's programmable.  It does basic statistics well, and many business applications too.  The manual makes sense; you will be up and running in short order.I'm ready to set my 49G aside and move back to my old friend.  I didn't even have to replace the batteries in well over a decade of use!HP 12C, I'm coming home!

In [0]:

## Not used in code, since it was a failed approach. There was an issue of a leading white space.
# def newfunc(a):
#   words = a.split()

#   mylist1 = re.findall(r"[^b]\w+", a)
#   mylist2 = re.findall(r"\b\w+[^g]\b", a)
#   mydict = dict()
#   mydict["Words not starting with -b-"] = mylist1
#   mydict["Words not ending with -g-"] = mylist2
#   return mydict