In [0]:
import math
import numpy as np
import pandas as pd
import requests
import json
import re

In [0]:
mydata = pd.read_json("http://snap.stanford.edu/data/amazon/productGraph/categoryFiles/reviews_Office_Products_5.json.gz", lines = True)

In [0]:
mydata.head()

       reviewerID        asin  ... unixReviewTime   reviewTime
0  A32T2H8150OJLU  B00000JBLH  ...     1094169600   09 3, 2004
1  A3MAFS04ZABRGO  B00000JBLH  ...     1197676800  12 15, 2007
2  A1F1A0QQP2XVH5  B00000JBLH  ...     1293840000   01 1, 2011
3   A49R5DBXXQDE5  B00000JBLH  ...     1145404800  04 19, 2006
4  A2XRMQA6PJ5ZJ8  B00000JBLH  ...     1375574400   08 4, 2013

[5 rows x 9 columns]

In [0]:
mydata["reviewText1"] = mydata["reviewText"].str.lower()

In [0]:
def myfunc(a):
  words = a.split()
  word_count = len(words)
  letters = list(a)
  letters = list(filter(lambda x:x, map(lambda x:re.sub(r'[^A-Za-z]', '', x), letters)))
  vowel_count = 0
  consonant_count = 0
  vowels = ['a','e','i','o','u']
  for letter in letters:
    if letter in vowels:
      vowel_count += 1
    else:
      consonant_count += 1
  mydict = dict()
  mydict["Word Count"] = word_count
  mydict["Vowel Count"] = vowel_count
  mydict["Consonant Count"] = consonant_count
  return mydict

In [0]:
mydata["reviewText1"] = mydata["reviewText1"].apply(myfunc)

In [0]:
print(mydata.iloc[0,9])

{'Word Count': 186, 'Vowel Count': 279, 'Consonant Count': 437}

In [0]:
# def myfunc1(a):
#   words = a.split()
#   word_count = len(words)
#   letters = list(a)
#   letters = list(filter(lambda x:x, map(lambda x:re.sub(r'[^A-Za-z]', '', x), letters)))
#   vowel_count = 0
#   consonant_count = 0
#   vowels = ['a','e','i','o','u']
#   for letter in letters:
#     if letter in vowels:
#       vowel_count += 1
#     else:
#       consonant_count += 1
#   mydict = dict()
#   mydict["Word Count"] = word_count
#   mydict["Vowel Count"] = vowel_count
#   mydict["Consonant Count"] = consonant_count
#   return mydict, letters, words

In [0]:
# myfunc1("hi, i have a complaint about the product i just bought! it's highly damaged and i want to return it.")

In [0]:
def start_end(a):
  mylist1 = re.findall(r"\bb\w+ | \w+g\b", a)
  # mylist2 = re.findall(r'\b\w+g\b', a)
  # mylist = mylist1 + mylist2
  return list(set(mylist1))

In [0]:
mydata["reviewText1"] = mydata["reviewText"].str.lower()
mydata["reviewText1"] = mydata["reviewText1"].apply(start_end)

In [0]:
print(mydata.iloc[0,9])

[' running', 'by ', ' 49g', 'buy ', ' travelling', 'be ', 'basic ', 'business ', ' coming', 'but ', ' looking', 'back ', 'batteries ', 'bought ']